<!DOCTYPE html>
<html>
  <head>
    <title>Intent Checker</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="App">
      <div class="auth-form-container">
        <h1>Intent Predictor</h1>
        <form id="intent-form" class="login-form">
          <label for="question">Question</label>
          <select id="question" class="question">
            <option value="greeting" class="option">greeting</option>
            <option value="medicare" class="option">medicare</option>
          </select>
          <label for="response">Response</label>
          <input name="response" id="response" />
          <button type="button" id="submit-btn">Get Intent</button>
          <div>
            <img
              src="{{ url_for('static', filename='loading.gif') }}"
              width="100"
              id="loading"
            />
          </div>
          <div id="result-container" class="result">
            <h2>Result:</h2>
            <p><br /></p>
          </div>
        </form>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#submit-btn").click(function () {
          // Get the form values
          var question = $("#question").val();
          var response = $("#response").val();

          if ((question == "") | (response == "")) {
            alert("Please input correctly");
            return;
          }

          $("#loading").css("visibility", "visible");
          $("#loading").css("margin-top", "20px");
          // Make the AJAX request
          $.ajax({
            type: "POST",
            url: "/",
            contentType: "application/json",
            data: JSON.stringify({ question: question, response: response }),
            success: function (data) {
              // Display the result in the result-container div
              var resultContainer = $("#result-container");
              $("#loading").css("visibility", "hidden");
              $("#loading").css("margin-top", "-50px");

              resultContainer.html(
                "<h2>Result:</h2><p>" + data.intent + "</p>"
              );
            },
            error: function (error) {
              console.error("Error:", error);
            },
          });
        });
      });
    </script>
  </body>
</html>
